[package]
name = "tonic"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
serde_yaml = "0.9.34"
toml = "0.9.8"

[dev-dependencies]
assert_cmd = "2.0.16"
predicates = "3.1.3"
